body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #0f172a;
    color: #fff;
}

header {
    background: #111827;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #38bdf8;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

nav a:hover {
    color: #38bdf8;
}

.container {
    padding: 50px;
}

h1,
h2 {
    color: #38bdf8;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    margin: 10px 0;
}

.btn {
    display: inline-block;
    background: #38bdf8;
    color: #0f172a;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}

footer {
    text-align: center;
    padding: 30px;
    background: #020617;
    margin-top: 40px;
}